<div id="left-tab">
  <img src="../images/left-tab.png" />
</div>
<div id="right-tab">
  <img src="../images/right-tab.png" />
</div>
<div id="loading">
  <img src="../images/loading.gif" />
</div>
<ul id="back"></ul>
<img src="../images/snap.png" style="display: none;"/>