<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>trump test</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/css.css" media="all" />
	<link rel="stylesheet" type="text/css" href="./stylesheets/images.css" media="all" />
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="./javascripts/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="./javascripts/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="./javascripts/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="./javascripts/ui/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="./javascripts/ui/jquery.ui.draggable.js"></script>
	<script type="text/javascript" src="./javascripts/ui/jquery.ui.selectable.js"></script>
	<script type="text/javascript" src="./javascripts/core.js"></script>
	</head>
<body>
	<%- body %>
</body>
</html>