*{
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

#back {
  display: none;
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1500px;
  background: #fff;
  position: absolute;
  z-index: -9999;
  left: 0;
  top: 0;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
}

.card{
  width: 71px;
  height: 96px;
  position: absolute;
  top: 150px;
  left: 300px;
  z-index: 10;
  list-style: none;
}

.reserved {
  border: 3px solid black;
}

.selected_card{
  box-shadow: 0px 0px 10px #000;
}

.ui-selectable-helper{
  position: absolute;
  border: 1px dotted #000;
}