#s-1 {
  background: url("../images/s-1.jpg"); }

#s-2 {
  background: url("../images/s-2.jpg"); }

#s-3 {
  background: url("../images/s-3.jpg"); }

#s-4 {
  background: url("../images/s-4.jpg"); }

#s-5 {
  background: url("../images/s-5.jpg"); }

#s-6 {
  background: url("../images/s-6.jpg"); }

#s-7 {
  background: url("../images/s-7.jpg"); }

#s-8 {
  background: url("../images/s-8.jpg"); }

#s-9 {
  background: url("../images/s-9.jpg"); }

#s-10 {
  background: url("../images/s-10.jpg"); }

#s-j {
  background: url("../images/s-j.jpg"); }

#s-q {
  background: url("../images/s-q.jpg"); }

#s-k {
  background: url("../images/s-k.jpg"); }

#c-1 {
  background: url("../images/c-1.jpg"); }

#c-2 {
  background: url("../images/c-2.jpg"); }

#c-3 {
  background: url("../images/c-3.jpg"); }

#c-4 {
  background: url("../images/c-4.jpg"); }

#c-5 {
  background: url("../images/c-5.jpg"); }

#c-6 {
  background: url("../images/c-6.jpg"); }

#c-7 {
  background: url("../images/c-7.jpg"); }

#c-8 {
  background: url("../images/c-8.jpg"); }

#c-9 {
  background: url("../images/c-9.jpg"); }

#c-10 {
  background: url("../images/c-10.jpg"); }

#c-j {
  background: url("../images/c-j.jpg"); }

#c-q {
  background: url("../images/c-q.jpg"); }

#c-k {
  background: url("../images/c-k.jpg"); }

#h-1 {
  background: url("../images/h-1.jpg"); }

#h-2 {
  background: url("../images/h-2.jpg"); }

#h-3 {
  background: url("../images/h-3.jpg"); }

#h-4 {
  background: url("../images/h-4.jpg"); }

#h-5 {
  background: url("../images/h-5.jpg"); }

#h-6 {
  background: url("../images/h-6.jpg"); }

#h-7 {
  background: url("../images/h-7.jpg"); }

#h-8 {
  background: url("../images/h-8.jpg"); }

#h-9 {
  background: url("../images/h-9.jpg"); }

#h-10 {
  background: url("../images/h-10.jpg"); }

#h-j {
  background: url("../images/h-j.jpg"); }

#h-q {
  background: url("../images/h-q.jpg"); }

#h-k {
  background: url("../images/h-k.jpg"); }

#d-1 {
  background: url("../images/d-1.jpg"); }

#d-2 {
  background: url("../images/d-2.jpg"); }

#d-3 {
  background: url("../images/d-3.jpg"); }

#d-4 {
  background: url("../images/d-4.jpg"); }

#d-5 {
  background: url("../images/d-5.jpg"); }

#d-6 {
  background: url("../images/d-6.jpg"); }

#d-7 {
  background: url("../images/d-7.jpg"); }

#d-8 {
  background: url("../images/d-8.jpg"); }

#d-9 {
  background: url("../images/d-9.jpg"); }

#d-10 {
  background: url("../images/d-10.jpg"); }

#d-j {
  background: url("../images/d-j.jpg"); }

#d-q {
  background: url("../images/d-q.jpg"); }

#d-k {
  background: url("../images/d-k.jpg"); }

#j-1 {
  background: url("../images/j-1.jpg"); }

#j-2 {
  background: url("../images/j-2.jpg"); }

.ura {
  background: url("../images/ura.jpg") !important; }

.semi-open {
  background: url("../images/semi-open.jpg") !important; }
