#s-1 {
  background: url("../images/s-1.gif"); }

#s-2 {
  background: url("../images/s-2.gif"); }

#s-3 {
  background: url("../images/s-3.gif"); }

#s-4 {
  background: url("../images/s-4.gif"); }

#s-5 {
  background: url("../images/s-5.gif"); }

#s-6 {
  background: url("../images/s-6.gif"); }

#s-7 {
  background: url("../images/s-7.gif"); }

#s-8 {
  background: url("../images/s-8.gif"); }

#s-9 {
  background: url("../images/s-9.gif"); }

#s-10 {
  background: url("../images/s-10.gif"); }

#s-j {
  background: url("../images/s-j.gif"); }

#s-q {
  background: url("../images/s-q.gif"); }

#s-k {
  background: url("../images/s-k.gif"); }

#c-1 {
  background: url("../images/c-1.gif"); }

#c-2 {
  background: url("../images/c-2.gif"); }

#c-3 {
  background: url("../images/c-3.gif"); }

#c-4 {
  background: url("../images/c-4.gif"); }

#c-5 {
  background: url("../images/c-5.gif"); }

#c-6 {
  background: url("../images/c-6.gif"); }

#c-7 {
  background: url("../images/c-7.gif"); }

#c-8 {
  background: url("../images/c-8.gif"); }

#c-9 {
  background: url("../images/c-9.gif"); }

#c-10 {
  background: url("../images/c-10.gif"); }

#c-j {
  background: url("../images/c-j.gif"); }

#c-q {
  background: url("../images/c-q.gif"); }

#c-k {
  background: url("../images/c-k.gif"); }

#h-1 {
  background: url("../images/h-1.gif"); }

#h-2 {
  background: url("../images/h-2.gif"); }

#h-3 {
  background: url("../images/h-3.gif"); }

#h-4 {
  background: url("../images/h-4.gif"); }

#h-5 {
  background: url("../images/h-5.gif"); }

#h-6 {
  background: url("../images/h-6.gif"); }

#h-7 {
  background: url("../images/h-7.gif"); }

#h-8 {
  background: url("../images/h-8.gif"); }

#h-9 {
  background: url("../images/h-9.gif"); }

#h-10 {
  background: url("../images/h-10.gif"); }

#h-j {
  background: url("../images/h-j.gif"); }

#h-q {
  background: url("../images/h-q.gif"); }

#h-k {
  background: url("../images/h-k.gif"); }

#d-1 {
  background: url("../images/d-1.gif"); }

#d-2 {
  background: url("../images/d-2.gif"); }

#d-3 {
  background: url("../images/d-3.gif"); }

#d-4 {
  background: url("../images/d-4.gif"); }

#d-5 {
  background: url("../images/d-5.gif"); }

#d-6 {
  background: url("../images/d-6.gif"); }

#d-7 {
  background: url("../images/d-7.gif"); }

#d-8 {
  background: url("../images/d-8.gif"); }

#d-9 {
  background: url("../images/d-9.gif"); }

#d-10 {
  background: url("../images/d-10.gif"); }

#d-j {
  background: url("../images/d-j.gif"); }

#d-q {
  background: url("../images/d-q.gif"); }

#d-k {
  background: url("../images/d-k.gif"); }

#j-1 {
  background: url("../images/j-1.gif"); }

#j-2 {
  background: url("../images/j-2.gif"); }

.ura {
  background: url("../images/ura.gif") !important; }

.semi-open {
  background: url("../images/semi-open.gif") !important; }
